






<%= form_for @login do |l| %>
	


	<div class="container-fluid body_wrapper">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="signupheader">make your day suck less</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
        </div>
        <div class="col-xs-2">
         
          <%= l.text_field :firstName, class: "form-control button", placeholder: "first name"%>
        </div>
        <div class="col-xs-2">
          <%= l.text_field :lastName, class: "form-control button", placeholder: "last name" %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
          <%= l.text_field :email, class: "button form-control", placeholder: "enter your email" %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
        	<%= l.password_field :password, class: "button form-control", placeholder:"pick a unique password" %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
        	<%= l.password_field :password_confirmation, class: "button form-control", placeholder: "confirm your new password" %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 col-xs-offset-4 button">
        	<%= l.submit "submit here", class: "btn button btn-default btn-lg" %>
          
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 col-xs-offset-4 button"> 
            <% if @login.errors.any? %>
            <div id="error_explanation">


        <ul class="list-group">

        <% @login.errors.full_messages.each do |msg| %>
          <li class="list-group-item list-group-item-danger"><%= msg %></li>
        <% end %>

        </ul>

      </div>

<% end %>
</div>
</div>
    </div>
    <% end %>